$num :4;


.aboutContainerDropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
    @include container-width();
    @include max-width();

    .dropdown {
        width: 80%;
        margin: 1rem 0;                                      
    }

    @for $i from 2 through $num {
        .move:nth-child(#{$i}) + .dropdown:nth-child(#{$i}) {
            transform: translateY(100px);    
        }
    }


    @media screen and( max-width: 422px) {
        .dropdown {
            width: 100%;
            &__title {
                font-size: .9em;
            }                                                  
        }
    }

   
        
    
}

// @keyframes moveDropDown {
//     from  {
//        transform: translateY(0); 
//     } to {
//         transform: translateY(100px * #{$i}); 
//     }
// }
