.numberError{
    text-align: center;
    margin-top: 8rem;
    font-size: 16vw;
}
.messageError {
    text-align: center;
    font-size: 1.5rem;
}
.back{
    text-align: center;
    text-decoration: underline;
    margin-top: 10rem;
}
